* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", serif;
}

.fill {
    flex: 1;
}

.d-none {
    display: none !important;
}

.show {
    opacity: 1;
    transition: 0.25s ease-in-out;
}

.hidden {
    opacity: 0;
    transition: 0.25s ease-in-out;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    background-color: #FF8000;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo-img {
    width: 100px;
    margin: 8px;
    z-index: 2;
}

.menu {
    margin: 8px;
}

footer {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legal-container {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
}

.legal-container a {
    color: white;
    text-decoration: none;
}

.legal-container a:hover {
    color: #FF8000;
}

.main-section {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.my-text {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 250px;
    height: 250px;
}

.cart-style {
    width: 300px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: rgba(226, 226, 226, 0.2);
    color: white;
}

.cart-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 500px;
    padding-top: 16px;
    overflow: hidden;
    overflow-y: scroll;
}

.all-dishes {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 24px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px;
}

h1 {
    margin-top: 24px;
    color: black;
}

h2 {
    margin-top: 16px;
    color: black;
}

.my-selected-dish {
    background-color: white;
    color: black;
    width: 250px;
    margin: 0 0 16px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);
    border-radius: 8px;
    padding: 8px;
}

.delivery-text {
    padding-bottom: 8px;
}

#cart_price {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
}

#cart_placeholder {
    text-align: center;
    margin-top: 24px;
    color: black;
}

.delivery-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8px 0 8px 0;
    gap: 8px;
}

.order-section {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

br {
    width: 2px;
}

.basket-img {
    width: 34px;
    cursor: pointer;
}

@media (min-width: 715.99px) {
    .basket {
        display: none;
    }

    
}

@media (max-width: 920px) {
    .dish-categorys {
        max-width: 400px;
    }

    .category-img {
        max-width: 400px;
    }
}

@media (max-width: 820px) {
    .dish-categorys {
        max-width: 300px;
    }
    
    .category-img {
        max-width: 300px;
    }
}

@media (max-width: 715.98px) {
    .dish-categorys {
        max-width: 500px;
    }
    
    .category-img {
        max-width: 500px;
    }

    .right-content {
        width: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .cart-style {
        width: 100%;
    }

    .hidden-cart {
        display: none;
    }

    .main-section {
        justify-content: center;
    }
}

@media (max-width: 620px) {
    .dish-categorys {
        max-width: 400px;
    }
    
    .category-img {
        max-width: 400px;
    }
}

@media (max-width: 520px) {
    .dish-categorys {
        max-width: 300px;
    }
    
    .category-img {
        max-width: 300px;
    }
}

@media (max-width: 420px) {
    .dish-categorys {
        max-width: 250px;
    }
    
    .category-img {
        max-width: 250px;
    }
}